@import url('photographer.css');

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 2em;
}

nav {
    margin: 0 2em;
}
nav a {
    text-decoration: none;
    color: #901c1c;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e1e1e1;
    padding: 0.1rem 0.5rem;
    border-radius: 15px;
    margin-right: 0.1rem;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

.photographer_section article {
    justify-self: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.name {
    color: #d3573c;
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article img,
.portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article h3,
.photographer_section article h4,
.photographer_section article h5 {
    margin: 0.2rem 0;
}

.location {
    color: #901c1c;
    font-size: 14px;
    font-weight: 550;
}

.taglines {
    font-size: 12px;
    font-weight: 400;
}

.photographer_section article h5 {
    font-size: 10px;
    font-weight: 500;
    color: #8f8f8f;
}

a.photographe-section__lienCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
